
.nav {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.navLink {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: blue;
}

.navLink:hover {
    color: rgb(157, 3, 157);
}

.navLinkActive {
    color: rgb(129, 2, 129);
}