
.nav {
    /* background-color: var(--color-card-background); */
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    max-width: 800px;
}

/* .navContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
} */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 800px;
    /* margin: 0 auto; */
    /* padding: 2rem; */
    padding-bottom: 2rem;;
    /* border-bottom: 1px solid #ddd; */

}
.navLink {
    /* padding: 0;
    margin: 0; */
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: blue;
}

.navLink:hover {
    color: rgb(157, 3, 157);
}

.navLinkActive {
    color: rgb(129, 2, 129);
}