
/* .nav {

    margin: 0 auto;
    max-width: 800px;
    padding: 2rem;
    border-bottom: 1px solid #ddd;
} */

.nav {
    /* background-color: var(--color-card-background); */
    padding: 0 2rem;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
}

/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    padding-bottom: 2rem;;
} */

.navLink {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    /* color: blue; */
    color: var(--color-text);
    text-decoration: none;
}

.appName {
    /* color: var(--color-primary); */
    font-size: 32px;
    font-weight: 1000px;

}

/* .appName .navLinkActive {
    color: var(--color-primary-dark);
} */

.navLink:hover {
    /* color: rgb(157, 3, 157); */
    color: var(--color-secondary);
}

.navLinkActive {
    /* color: rgb(129, 2, 129); */
    color: var(--color-primary);
    font-weight: 600;
}